<% provide(:title, 'Home page') %>
<div class="post_wrapper">
	<h2 class="title"><%= link_to @blog.title, @blog %></h2>
	<span><%= @blog.user.email%></span>
	<p class="date"><%= @blog.created_at.strftime("%B %d, %Y") %></p>
</div>
