<% provide(:title, 'About') %>
	<div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h1>Simlpe Blog</h1>
                <p class="lead">
                    by <a href="vk.com">Egor Oleynik</a>
                </p>
			</div>
		</div>
	</div>








