<% provide(:title, 'Home') %>

<% unless user_signed_in? %>
	<div class="container">
		<div class="center-block">
			<div class="jumbotron">
	    	<h1>Hello</h1>
	    		<p>Join Us!</p>
	    		<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg"%>
	   			 </p>
	   			</div>
  </div>
</div>
<% end %>






