<div class="well">
                    <h4>Title:</h4>
                    <%= form_for([@blog, @blog.posts.build]) do |f| %>
                    <div role="form">
                        <div class="form-group">
                            <%= f.text_field :title, class: "form-control" %>
                        </div>
                        <h4>Text:</h4>
                        <div class="form-group">
                         <%= f.text_area :body, class: "form-control" %>
                        </div>
                        <%= f.submit class: "btn btn-primary" %>
                    </div>
                    <% end %>
                </div>
