.comment.clearfix
  .comment_content
    %p.comment_name
      %strong= post.title
    %p.comment_body= post.body
    %p.comment_time
      = time_ago_in_words(post.created_at)
      Ago
  - if user_signed_in?
    %p
      = link_to 'Delete', [post.blog, post], |
        method: :delete,                     |
        class: "button",                     |
        data: { confirm: 'Are you sure?' }   |
