	<h1><%= post.title %>
		<small><%= @blog.title %></small></h1>
			<p><span class="glyphicon glyphicon-time"></span> 
				<% if user_signed_in? %>  
	                              <%= link_to ' | Delete', [post.blog, post],
	                              method: :delete,
	                              class: "button",
	                              data: { confirm: 'Are you sure?' } %>
</p>
	                    <% end %>
	<hr>
	<p class="lead">
	<%= post.body %>
		<hr>	<hr>


