body {background-image:url('/images/bg.png');}

.img-wrapper{padding-right: 15px;}

.center-block {
    display: block;
  margin-left: auto;
  margin-right: auto;
}

form-control:focus {
     min-height:100px
   }
.modal-content {
padding-bottom: 30px;
}